<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <title></title>

    <link rel="stylesheet" type="text/css" href="{% static 'app/content/base.css' %}" />
    
</head>
<body>
    
    <div id="header">
        <a href="\" class="header_link">Employees Home</a>
        <a href="{% url 'flow' 1 %}" class="header_link">Flow</a>
        <a href="/admin" class="header_link" id="login">Login to edit</a>
    </div>

      <div id="content">
        {% block content %}{% endblock %}
     </div>

    
<script src="{% static 'app/scripts/jquery-1.11.1.js' %}"></script>
<script src="{% static 'app/scripts/jquery-ui.js' %}"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'app/scripts/empmain.js' %}"></script>



</body>
</html>



